<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.staxmanade.TestFlightBetaEntitlement" version="0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>TestFlightBetaEntitlement</name>

    <!-- this needs to be added to the .plist file-->
    <platform name="ios">

      <hook type="after_plugin_install" src="hooks/install_entitlements_plist.js" />

    </platform>
</plugin>
